# PUPPI Tutorial

This Jupyter notebook demonstrates how to use the `puppi` Python package to process a BioID/AP-MS dataset. We will:

1. Load an example intensity file
2. Run feature engineering
3. Train a PU-learning model and estimate FDR
4. Save the output

In [5]:
import pandas as pd
from puppi.features import feature_engineering
from puppi.train import train_and_score

## Load Example Data

In [6]:
input_df = pd.read_csv("input_intensity_dataset.tsv", sep='\t')
input_df.head()

  Protein    ACTB_1    ACTB_2  ...  NminiTurbo_1  NminiTurbo_2  NminiTurbo_3
0     A2M   7867.27   7647.22  ...       999.026       4449.13       3227.09
1   A2ML1      0.00      0.00  ...         0.000          0.00          0.00
2    AAAS  14566.40  12137.40  ...      6454.190       7324.22       8710.24
3   AADAC      0.00      0.00  ...         0.000          0.00          0.00
4   AAGAB  12210.50   7979.22  ...         0.000          0.00          0.00

[5 rows x 25 columns]

## Run Feature Engineering

You must specify control (substrings identifying control samples).

In [8]:
features_df = feature_engineering(input_df, controls=["EGFP", "Empty", "NminiTurbo"])
features_df.head()

   Bait                     Prey  ...  composite_score  global_cv
0  ACTB                    BSTAR  ...        22.687752   0.646998
1  ACTB                     CCT8  ...        18.328789   1.217068
2  ACTB                     FLNA  ...        16.853468   1.037275
3  ACTB                    AHNAK  ...        14.152581   0.787742
4  ACTB  IGLC2;IGLC3;IGLC6;IGLC7  ...        13.684224   4.795832

[5 rows x 12 columns]

## Train PU-learning Model and Estimate FDR

In [9]:
final_df = train_and_score(features_df, initial_positives=10, initial_negatives=200)
final_df.head()

   Bait                     Prey  ...       FDR     global_cv_flag
0  ACTB                    BSTAR  ...  0.000000  likely background
1  ACTB                     CCT8  ...  0.000000
2  ACTB                     FLNA  ...  0.000000  likely background
3  ACTB                    AHNAK  ...  0.029542  likely background
4  ACTB  IGLC2;IGLC3;IGLC6;IGLC7  ...  0.000000

[5 rows x 15 columns]

## Save Output

In [11]:
final_df.to_csv("puppi_output.csv", index=False)